$border_image_path: "../imagini/multi.jpg";
$nr_imagini: 8;

.galerie-animata {
    width: 400px;
    height: 320px;
    position: relative;
    overflow: hidden;
    border: 10px solid transparent;
    box-sizing: border-box;
    border-image: url(#{$border_image_path}) 10 round;

    figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        animation-name: animatie_galerie;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 10s;
        margin: 0;
        padding: 0;

        img {
            display: block;
            width: 400px;
            height: 320px;
            transform-origin: bottom left;
        }
    }

    @for $i from 1 through $nr_imagini {
        figure:nth-child(#{$i}) {
            animation-delay: #{($i - 1) * 10}s;
        }

        &:hover {
            figure:nth-child(#{$i}) {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes animatie_galerie {
    0% {
        z-index: 10;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }

    25% {
        transform: translate(-50%, -50%) scale(1, 0.3);
    }

    50% {
        transform: translate(-50%, -50%) scale(2, 0.3);
    }

    75% {
        transform: translate(0, 0) rotate(-45deg) scale(2, 0.3);
    }

    85% {
        z-index: -10;
        opacity: 1;
        transform: translate(0, 0) rotate(-90deg) scale(2, 0.3);
    }

    100% {
        z-index: -10;
        opacity: 0;
        transform: translate(-100%, 100%) rotate(-90deg) scale(2, 0.3);
    }
}

@media only screen and (max-width: 1200px) {
    .galerie-animata {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .galerie-animata {
        display: none;
    }
}