<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="keywords" content="Conectica, Retelistica, Cabluri, Accesorii, Echipamente">
    <meta name="description"
        content="Magazin de conectica, Adaptoare, Retelistica. Transport Gratuit la comenzi de peste 50 de lei.">
    <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
    <title>Magazin de conectică - cos virtual</title>
    <%- include("../fragmente/head.ejs") %>
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
</head>
<body>
    <%- include("../fragmente/header") %>
        <main>
            <button id="cumpara">
                Cumpara
            </button>
        </main>
        <%- include("../fragmente/footer") %>
</body>
</html>