body {
    --culoare1: #FFA500;
    --culoare-inchisa: black;
    --culoare-deschisa: white;
    --culoare-text: #333333;
    --culoare-text-selectat: #FF6347;

    --spatiere: 100px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    opacity: 0.5;
    left: 0.3em;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    border: 3px dashed var(--culoare-rosu);
    text-decoration: none;
    color: var(--culoare-deschisa);
    text-align: center;
    transform: rotateZ(0);
    box-shadow: var(--culoare-deschisa);
    transition: opacity 0.5s linear, transform 0.5s linear;
    background: radial-gradient(circle, var(--culoare-background-1) 0%, var(--culoare-background-2) 100%);
}

#sageata {
    font-size: 2rem;
    color: var(--culoare-rosu);
    opacity: 0.5;
    transform: rotateZ(0);
    transition: opacity 0.5s linear, transform 0.5s linear;
}

#link-top:hover {
    transform: rotateZ(90deg);
    opacity: 1;
}

#link-top:hover > #sageata {
    opacity: 1;
    transform: rotateZ(-90deg);
}

#calendar-iframe {
    border: 0;
    width: 650px;
    height: 400px;
}

#table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
}

#tab-orar {
    grid-area: tabel;
    border-spacing: 2px;
    border-collapse: collapse;
    width: auto;
    font-family: Arial, sans-serif;
    color: var(--culoare-text);
}

#tab-orar tr:hover {
    background-color: var(--culoare-highlight);
    transition: background-color 0.3s ease;
}

#tab-orar td,
#tab-orar th {
    border: 1px solid var(--culoare-inchisa);
    padding: 10px;
}

#tab-orar th {
    background-color: var(--culoare-background-2);
    text-transform: uppercase;
    font-weight: bold;
}

#tab-orar tbody td:nth-child(odd) {
    background-color: var(--culoare-coloana1);
}

#tab-orar tbody td:nth-child(even) {
    background-color: var(--culoare-coloana2);
}

@media (max-width: 600px) {
    #tab-orar {
        font-size: 0.8em;
    }
}

#tab-orar caption {
    caption-side: bottom;
}

#promotii {
    grid-area: promotii;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#container-iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    position: relative;
    padding-bottom: 50px;
}

.container-iframe iframe {
    width: 100%;
    border-radius: 10px;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.taburi-iframe > a {
    display: block;
    border: 1px solid var(--culoare-background-3);
    background-color: var(--culoare-background-2);
    padding: 0.6em;
    border-radius: 0 0 10px 10px;
    text-align: center;
    flex: 1;
}

.taburi-iframe > a:hover {
    background-color: var(--culoare-background-3);
    color: var(--culoare-deschisa);
    transition: background-color 0.3s ease;
}

.taburi-iframe > a:not(:last-child) {
    margin-right: 10px;
}

#video-player::cue {
    background: var(--culoare-inchisa);
    color: var(--culoare-deschisa);
    text-shadow: 2px 2px 2px var(--culoare-inchisa);
}

a:visited {
    color: var(--culoare-text-selectat);
}

a[href^="http"] {
    position: relative;
    color: var(--culoare-text);
}

a[href^="http"]::before {
    content: "⮳";
    font-size: 150%;
    position: absolute;
    left: -1em;
    transition: color 0.3s ease;
}

a[href^="http"]:hover::before {
    color: var(--culoare-background-4);
}

#grid-pagina a {
    position: relative;
    color: var(--culoare-text);
}

#grid-pagina a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-image: radial-gradient(circle, var(--culoare-background-3) 0%, var(--culoare-background-3) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-size: 0;
    transition: background-size 0.3s ease;
}

#grid-pagina a:hover::before {
    background-size: 200%;
}

#grid-pagina a:hover {
    background-image: radial-gradient(circle, var(--culoare-background-3) 0%, var(--culoare-background-3) 40%, transparent 80%, transparent 100%);
}

#lista-useri {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid var(--culoare-text);
}

#lista-useri li {
    margin-bottom: 20px;
}

::selection {
    background-color: var(--culoare-rosu);
    color: var(--culoare-deschisa);
}

@media (max-width: 600px) {
    #tab-orar {
        font-size: 0.8em;
    }
    #tab-orar tbody td,
    #tab-orar thead th {
        display: block;
    }
    #tab-orar tbody td:nth-child(even),
    #tab-orar tbody td:nth-child(odd) {
        border: none;
        border-bottom: 1px solid var(--culoare-inchisa);
        position: relative;
        padding-left: 50%;
        text-align: left;
    }
    #tab-orar tbody td:before {
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        content: attr(data-label);
    }
}

hr {
    height: 10px;
    background-image: linear-gradient(to right,
            #FF6347 0%,
            #FF6347 10%,
            #FFFFFF 10%,
            #FF6347 100%);
}

/* efect-css-duotone */
.efect-css-duotone {
    position: relative;
    width: 300px;
    height: 200px;
    background-image: url('/resurse/imagini/usb.jpg');
    background-size: cover;
    cursor: pointer;
}

.efect-css-duotone::before,
.efect-css-duotone::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease;
}

.efect-css-duotone::before {
    background-color: var(--culoare-alb);
    mix-blend-mode: multiply;
}

.efect-css-duotone::after {
    background-color: var(--culoare-background-3);
    mix-blend-mode: screen;
}

.efect-css-duotone:hover::before,
.efect-css-duotone:hover::after {
    background-color: gray;
}

/* efect-css-reflexie-text */
#text {
    position: relative;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

#text-reflectat {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    transform-origin: right top;
    transform: scaleY(-1) translateX(10%);
    opacity: 0.55;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    pointer-events: none;
    transition: color 0.3s;
}

#text:hover,
#text-reflectat:hover {
    color: var(--culoare-rosu);
}

#grid-galerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

#grid-galerie figure {
    position: relative;
    overflow: hidden;
    filter: sepia(100%);
    transition: filter 0.8s;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#grid-galerie img {
    width: 100%;
    height: auto;
}

#grid-galerie figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--culoare-alb);
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.8s, color 0.8s, text-shadow 0.8s;
    text-shadow: 0 0 0 var(--culoare-inchisa);
}

#grid-galerie figure:hover img {
    filter: sepia(0%);
}

#grid-galerie figure:hover figcaption {
    opacity: 1;
    color: var(--culoare-inchisa);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}