body {
    --culoare1: #FFA500;
    --culoare-inchisa: black;
    --culoare-deschisa: white;
    --culoare-text: #333333;
    --culoare-text-selectat: #FF6347;

    --spatiere: 100px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    opacity: 0.5;
    left: 0.3em;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    border: 3px dashed var(--culoare-rosu);
    text-decoration: none;
    color: var(--culoare-deschisa);
    text-align: center;
    transform: rotateZ(0);
    box-shadow: var(--culoare-deschisa);
    transition: opacity 0.5s linear, transform 0.5s linear;
    background: radial-gradient(circle, var(--culoare-background-1) 0%, var(--culoare-background-2) 100%);
}

#sageata {
    font-size: 2rem;
    color: var(--culoare-rosu);
    opacity: 0.5;
    transform: rotateZ(0);
    transition: opacity 0.5s linear, transform 0.5s linear;
}

#link-top:hover {
    transform: rotateZ(90deg);
    opacity: 1;
}

#link-top:hover > #sageata {
    opacity: 1;
    transform: rotateZ(-90deg);
}

#calendar-iframe {
    border: 0;
    width: 650px;
    height: 400px;
}

#table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
}

#tab-orar {
    border-spacing: 2px;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    color: var(--culoare-text);
}

#tab-orar tr:hover {
    background-color: var(--culoare-highlight);
    transition: background-color 0.3s ease;
}

#tab-orar td,
#tab-orar th {
    border: 1px solid black;
    padding: 10px;
}

#tab-orar th {
    background-color: var(--culoare-background-2);
    text-transform: uppercase;
    font-weight: bold;
}

#tab-orar tbody td:nth-child(odd) {
    background-color: var(--culoare-coloana1);
}

#tab-orar tbody td:nth-child(even) {
    background-color: var(--culoare-coloana2);
}

@media (max-width: 600px) {
    #tab-orar {
        font-size: 0.8em;
    }
}

#tab-orar caption {
    caption-side: bottom;
}

#promotii {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#container-iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    position: relative;
    padding-bottom: 50px;
}

.container-iframe iframe {
    width: 100%;
    border-radius: 10px;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.taburi-iframe > a {
    display: block;
    border: 1px solid var(--culoare-background-3);
    background-color: var(--culoare-background-2);
    padding: 0.6em;
    border-radius: 0 0 10px 10px;
    text-align: center;
    flex: 1;
}

.taburi-iframe > a:hover {
    background-color: var(--culoare-background-3);
    color: var(--culoare-deschisa);
    transition: background-color 0.3s ease;
}

.taburi-iframe > a:not(:last-child) {
    margin-right: 10px;
}