html {
    font-size: 18px;
}

#grid-pagina {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(300px, minmax(0, 1fr));
    outline: 2px solid var(--culoare-background-2);
    grid-template-areas:
      "welcome welcome welcome"
      "calendar tabel tabel anunturi"
      "promotii promotii promotii"
      "promotii promotii promotii"
      "promotii promotii promotii"
      "info-server info-server lista-useri stats"
      "footer footer footer footer";
}

#grid-pagina > * {
    outline: 2px solid var(--culoare-background-2);
    padding: 20px;
}

#grid-pagina > figure {
    margin: 0;
}


#grid-pagina > #calendar {
    grid-area: calendar;
    overflow-x: auto;
}

#welcome {
    background-color: #f0f0f0;
    padding: 50px;
}

.z-pattern-container {
    display: flex;
    flex-direction: column;
}

.z-pattern-image {
    order: 1;
    text-align: center;
}

.z-pattern-image img {
    max-width: 100%;
    height: auto;
}

.z-pattern-text {
    order: 2;
    text-align: center;
}

#header {
    background-color: var(--culoare-background-2);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}

#navbar {
    background-color: var(--culoare-background-2);
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    position: relative;
}

#navbar ul li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

#navbar ul li a:hover {
    background-color: var(--culoare-background-3);
    transform: scale(1.1);
}

#navbar ul li a:hover {
    background-color: var(--culoare-background-3);
}

#navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--culoare-background-2);
    border-top: 1px solid var(--culoare-background-2);
}

#navbar ul ul li {
    display: block;
}

#navbar ul ul li a {
    padding: 10px 15px;
}

#navbar ul li:hover > ul {
    display: block;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

.sticky + main {
    padding-top: 60px;
}

@media screen and (min-width: 768px) {
    .z-pattern-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .z-pattern-image {
        width: 50%;
        order: 0;
    }

    .z-pattern-text {
        width: 50%;
        order: 1;
        text-align: left;
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    #calendar-iframe {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #grid-pagina {
        display: block;
    }
}