html {
    font-size: 18px;
}

#grid-pagina {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(300px, minmax(0, 1fr));
    outline: 2px solid var(--culoare-background-2);
    grid-template-areas:
      "welcome welcome welcome"
      "calendar tabel tabel anunturi"
      "promotii promotii promotii"
      "promotii promotii promotii"
      "promotii promotii promotii"
      "info-server info-server lista-useri stats"
      "footer footer footer footer";
}

#grid-pagina > * {
    outline: 2px solid var(--culoare-background-2);
    padding: 20px;
}

#grid-pagina > figure {
    margin: 0;
}


#grid-pagina > #calendar {
    grid-area: calendar;
}

#welcome {
    background-color: #f0f0f0;
    padding: 50px;
}

.z-pattern-container {
    display: flex;
    flex-direction: column;
}

.z-pattern-image {
    order: 1;
    text-align: center;
}

.z-pattern-image img {
    max-width: 100%;
    height: auto;
}

.z-pattern-text {
    order: 2;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .z-pattern-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .z-pattern-image {
        width: 50%;
        order: 0;
    }

    .z-pattern-text {
        width: 50%;
        order: 1;
        text-align: left;
        padding-left: 50px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #grid-pagina {
        display: block;
    }
}