html {
    font-size: 18px;
}

#grid-pagina {
    display: grid;
    gap: 10px;
    outline: 2px solid var(--culoare-background-2);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "welcome welcome welcome welcome"
        "calendar calendar tabel anunturi"
        "promotii promotii promotii promotii"
        "info-server info-server lista-useri stats"
        "footer footer footer footer";
}

#calendar {
    grid-area: calendar;
    border-radius: 10px;
    padding: var(--dim-spatiere);
    box-shadow: 0 4px 8px var(--culoare-box-shadow);
    overflow-x: auto;
}

#calendar h2 {
    color: var(--culoare-text);
    font-size: 24px;
    margin-bottom: var(--dim-spatiere);
}

#calendar ul {
    list-style-type: none;
    padding: 0;
}

#calendar li {
    border-bottom: 1px solid var(--culoare-border);
    padding: 10px 0;
}

#calendar li h3 {
    color: var(--culoare-highlight);
    font-size: 20px;
}

#calendar li p {
    color: var(--culoare-text);
    margin: 5px 0;
}

#tabel {
    grid-area: tabel;
}

#anunturi {
    grid-area: anunturi;
}

#grid-pagina > * {
    outline: 2px solid var(--culoare-background-2);
    padding: 15px;
}

#grid-pagina > figure {
    margin: 0;
}

#grid-pagina > #calendar {
    grid-area: calendar;
    overflow-x: auto;
}

#welcome {
    grid-area: welcome;
    padding: 50px;
}

#grid-pagina > #anunturi {
    grid-area: anunturi;
}

#grid-pagina > #info-server {
    grid-area: info-server;
}

#grid-pagina > #lista-useri {
    grid-area: lista-useri;
}

#grid-pagina > #stats {
    grid-area: stats;
}

.z-pattern-container {
    display: flex;
    flex-direction: column;
}

.z-pattern-image {
    order: 1;
    text-align: center;
}

.z-pattern-image img {
    max-width: 100%;
    height: auto;
}

.z-pattern-text {
    order: 2;
    text-align: center;
}

#header {
    grid-area: header;
    background-color: var(--culoare-background-2);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1000;
    border-bottom: 5px solid var(--culoare-border);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--culoare-box-shadow);
}

@media screen and (min-width: 768px) {
    .z-pattern-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .z-pattern-image {
        width: 50%;
        order: 0;
    }

    .z-pattern-text {
        width: 50%;
        order: 1;
        text-align: left;
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    #calendar-iframe {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #grid-pagina {
        display: block;
        gap: 5px;
    }
}