nav {
    --inaltime-meniu: 2.5em;
    --latime-buton: 150px;
    height: var(--inaltime-meniu);
    background-color: var(--culoare-background-2);
}

#hamburger,
#ch-menu {
    display: none;
}

#acasa-mediu {
    display: none;
}

.meniu {
    display: flex;
}

.meniu,
.meniu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--culoare-background-2);
}

.meniu li {
    border: 1px solid var(--culoare-background-2);
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.meniu li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--culoare-background-1);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.meniu li a:hover::before {
    transform: scale(1);
}

.meniu > li {
    position: relative;
}

.meniu li ul {
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
}

.meniu li:hover ul {
    transform: scale(1);
}

.meniu li ul li:hover {
    color: var(--culoare-highlight);
}

.meniu li div,
.meniu li a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: var(--inaltime-meniu);
    color: var(--culoare-deschisa);
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s linear;
}

.meniu li:hover > div,
.meniu li:hover > a {
    background-color: var(--culoare-background-1);
    color: var(--culoare-highlight);
}

.meniu li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    transform-origin: center top;
}

/* submeniu */
.meniu ul {
    display: none;
}