@media print {
    /* Banner */
    #banner {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(50% - 2cm);
        border: 4px double black;
        padding: 10px;
        text-align: center;
    }

    /* Watermark */
    #watermark {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 10%;
        margin: auto;
        opacity: 0.3;
        text-align: center;
        color: black; /* Setarea culorii textului la negru */
    }

    /* Page break */
    header,
    footer {
        page-break-before: always;
    }

    #end {
        page-break-before: always;
    }

    /* Gridul paginii afișat ca bloc */
    main {
        display: block;
    }

    /* Ascunde elementele media */
    img,
    video,
    iframe,
    a[href="#top"] { /* Ascunde linkul către începutul paginii */
        display: none;
    }

    /* Linkurile să fie afișate ca text normal */
    a {
        text-decoration: none;
        color: black; /* Setarea culorii linkurilor la negru */
    }

    /* Headingul de nivel 1 să fie centrat */
    h1 {
        text-align: center;
    }

    /* Meniul sub formă de listă neordonată */
    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        position: relative;
    }

    nav ul li ul {
        display: none;
        position: relative;
    }
}