#banner, #watermark {
    display: none;
}

@media print {
    #banner, #watermark {
        display: block;
    }

    #banner {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(50% - 2cm);
        border: 4px double var(--culoare-inchisa);
        padding: 10px;
        text-align: center;
    }

    #watermark {
        position: fixed;
        width: 60%;
        height: 10%;
        top: 45%;
        left: 20%;
        text-align: center;
        z-index: 9999;
    }
    
    #watermark p {
        color: var(--culoare-inchisa);
        font-size: 50px;
        margin: 0;
        transform: rotate(-30deg);
    }

    header,
    footer {
        page-break-before: always;
    }

    #end {
        page-break-before: always;
    }

    main {
        display: block;
    }

    img,
    video,
    iframe,
    a[href="#top"] {
        display: none;
    }

    a {
        text-decoration: none;
        color: var(--culoare-inchisa);
    }

    h1 {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        position: relative;
    }

    nav ul li ul {
        display: none;
        position: relative;
    }
}