@media print {
    #banner {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(50% - 2cm);
        border: 4px double black;
        padding: 10px;
        text-align: center;
    }

    #watermark {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 10%;
        margin: auto;
        opacity: 0.3;
        text-align: center;
        color: var(--culoare-inchisa);
    }

    header,
    footer {
        page-break-before: always;
    }

    #end {
        page-break-before: always;
    }

    main {
        display: block;
    }

    img,
    video,
    iframe,
    a[href="#top"] {
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        position: relative;
    }

    nav ul li ul {
        display: none;
        position: relative;
    }
}