body {
    --culoare-text: #333333;
    --culoare-border: #FFA500;
    --culoare-highlight: #FF7F50;
    --culoare-background-1: #F2F2F2;
    --culoare-background-2: #FFA500;
    --culoare-background-3: #FF7F50;
    --culoare-background-4: #FF6347;
    --culoare-background-5: #FF4500;
    --culoare-rosu: rgb(196, 1, 1);
    --culoare-box-shadow: rgba(0, 0, 0, 0.1);
    --dim-spatiere: 20px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
    background: linear-gradient(to bottom, var(--culoare-background-1), var(--culoare-background-2));
    font-family: 'Roboto', sans-serif;
}

.section {
    transition: transform 0.3s ease;
    background-color: var(--culoare-background-1);
    border: 2px solid var(--culoare-border);
    border-radius: 10px;
    box-shadow: 0 0 8px var(culoare-inchisa);
}

.section:hover {
    transform: scale(1.05);
}

p {
    color: var(--culoare-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    border: 5px solid var(--culoare-background-1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

nav {
    background-color: var(--culoare-background-2);
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: var(--culoare-background-3);
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    border-top: 5px solid var(--culoare-border);
    border-radius: 10px;
    box-shadow: 0 -4px 8px var(--culoare-box-shadow);
}

footer p {
    font-size: 14px;
    margin-bottom: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}