<footer>
    <p id="banner">Acesta este un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>
    <div>
        <a href="https://www.google.ro" target="_blank" rel="noopener">Google</a>
    </div>
    <div>
        <a href="#" title="mergi sus" id="link-top"><div id="sageata">&#8593;</div></a>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pLdfq0Imo48?si=P44wCHvqMCp5dRCE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    <div>
        <a href="./resurse/imagini/iconita.png" download>DOWNLOAD ICONIȚĂ SITE</a>
    </div>
    <address>
        Strada Mea, Nr. 1, București, România
        <a href="mailto:dvmiradu@gmail.com">Adresă Email contact</a>
        <br>
        <a href="tel:+40745170698">Număr telefon contact</a>
        <br>
        <a href="https://wa.me/+40745170698?text=urlencodedtext">Link WhatsApp contact</a>
    </address>
    <p><small>Copyright &copy;
            <time datetime="2002-08-04">4 august 2002</time>
        </small></p>
</footer>
